.pagination {
  flex-wrap: wrap;
  justify-content: space-around;
}
.pagination li {
  margin-bottom: 2px;
}
.pagination li span {
  cursor: pointer;
}
.card img {
  max-width: 200px;
  margin: auto;
}

.modal {
  display: block !important;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
}
.container-flex > div {
  flex-basis: 25%;
  min-width: 25%;
}
.container-flex .card-body button {
  display: block;
}

.list-group-item {
  padding: 0.2rem 1.25rem !important;
}

.page-link {
  cursor: pointer;
}
