.pagination {
  flex-wrap: wrap;
  justify-content: space-around;
}
.pagination li {
  margin-bottom: 2px;
}
.pagination li span {
  cursor: pointer;
}
.card img {
  max-width: 200px;
  margin: auto;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
}
.container-flex .card-body {
  flex-basis: 25%;
  min-width: 25%;
}
.container-flex .card-body a {
  display: block;
}
